/4, windows enhance/PortableApps/Q-DirPortable/App/Q-Dir/Q-Dir.ini
/4, windows enhance/PortableApps/Q-DirPortable/App/Q-Dir/Q-Dir_x64 (2).exe
/4, windows enhance/PortableApps/Q-DirPortable/App/Q-Dir/start.qdr
